.settings-text {
    font-size: 12px;
    margin: 0;
    margin-bottom: 5px;
}

.settings-item {
    display: flex; /*this makes sure that settings labels and buttons don't get extra gap between them from html whitespace due to being inline elements*/
    margin-bottom: 1px;
    gap: 4px;
}

.settings-item--requires-refresh .settings-label {
    color: #FFFF00;
}

.settings-label {
    font-size: 14px;
    width: 160px;
    height: 20px;
    background-color: var(--settings-menu-label-background-color);
    color: var(--settings-menu-label-color);
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

.settings-button {
    background-color: var(--settings-menu-button-background-color);
    border: 1px solid var(--settings-menu-button-border-color);
    color: var(--settings-menu-button-color);
    border-radius: 5px;
    width: 80px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 0;
    white-space: nowrap; /*stop text from wrapping to next line if there isn't enough space*/
}

.settings-button:hover {
    background-color: var(--settings-menu-button-hover-background-color);
    color: var(--settings-menu-button-hover-color);
}

.settings-button--width-auto {
    width: auto;
    padding: 0 6px;
}

.settings-button--toggled {
    background-color: var(--settings-menu-button-clicked-background-color);
    color: var(--settings-menu-button-clicked-color);
}

#alei-tooltip {
    font-size: 16px;
    font-family: monospace;
    color: #eee;
    background-color: #000;
    padding: 10px;
    width: fit-content;
    border-radius: 4px;
    word-break: break-all;
    position: absolute;
    left: 100px;
    top: -100px;
}

#gui-render-info {
    margin-left: 18px;
}

.gui-render-info__text {
    padding: 0;
    margin: 0;
    color: var(--gui-render-info-color)
}

.two-element-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.vertical-gap {
    height: 20px;
}