/*todo: rename these first ones to follow BEM naming methodology*/
.ALEI_settingMenuText {
    font-size: 14px;
    width: 150px;
    height: 20px;
    background-color: var(--settings-menu-label-background-color);
    color: var(--settings-menu-label-color);
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

.ALEI_settingsMenuButton {
    background-color: var(--settings-menu-button-background-color);
    border: 1px solid var(--settings-menu-button-border-color);
    color: var(--settings-menu-button-color);
    border-radius: 5px;
    width: 80px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin-right: 4px;
}

.ALEI_settingsMenuButton:hover {
    background-color: var(--settings-menu-button-hover-background-color);
    color: var(--settings-menu-button-hover-color);
}

.ALEI_settingMenuButtonClicked {
    background-color: var(--settings-menu-button-clicked-background-color);
    color: var(--settings-menu-button-clicked-color);
}

#alei-tooltip {
    font-size: 16px;
    font-family: monospace;
    color: #eee;
    background-color: #000;
    padding: 10px;
    width: fit-content;
    border-radius: 4px;
    word-break: break-all;
    position: absolute;
    left: 100px;
    top: -100px;
}

#gui-render-info {
    margin-left: 18px;
}

.gui-render-info__text {
    padding: 0;
    margin: 0;
    color: var(--gui-render-info-color)
}