.checkmark-icon {
    font-size: 14px;
    color: #0e0;
}

.checkmark-icon::before {
    content: "✓";
}

.warning-icon {
    font-size: 14px;
}

.warning-icon::before {
    content: "⚠️";
}

.error-icon {
    font-size: 11px;
}

.error-icon::before {
    content: "❌";
}