/* set the css variables for the css stuff that comes from alei */

:root, .blue-theme {
    --settings-menu-label-background-color: #476082;
    --settings-menu-label-color: #bfcad9;
    --settings-menu-button-background-color: #26354a;
    --settings-menu-button-border-color: #26354a;
    --settings-menu-button-color: #c1c9d3;
    --settings-menu-button-hover-background-color: #596a83;
    --settings-menu-button-hover-color: #f5faff;
    --settings-menu-button-clicked-background-color: #91a5c1;
    --settings-menu-button-clicked-color: #fbfbfb;
    --comment-background-color: #314664;
    --comment-border-color: #41546f;
    --comment-color: hsl(215, 70%, 60%);
    --comment-adder-button-color: hsl(215, 95%, 55%);
    --comment-remover-button-color: hsl(0, 100%, 35%);
    --param-side-button-background-color: hsl(215, 35%, 15%);
    --param-side-button-hover-background-color: hsl(215, 35%, 20%);
    --param-side-button-active-background-color: hsl(215, 35%, 25%);
    --gui-render-info-color: #fff;
    --draggable-window-text-color: hsl(215, 30%, 90%);
	--select-indicator-color: hsl(120, 100%, 40%);
	--dropdown-background-color: hsl(215, 100%, 95%);
	--dropdown-opener-border-color: hsl(215, 10%, 80%);
	--dropdown-item-color: #000;
	--dropdown-arrow-color: #555;
	--color-text-input-background-color: hsl(215, 20%, 55%);
	--color-text-input-color: #fff;
	--selectable-target-item-hover-color: #858585;
	--selected-target-item-color: #d1cb09;
	--target-quick-delete-button-color: #f00;
    draggable-window {
        --header-background-color: #728eb5;
        --header-color: #fff;
        --header-button-background-color: hsl(210, 37.5%, 55%);
        --header-button-hover-background-color: hsl(210, 37.5%, 50%);
        --header-button-active-background-color: hsl(210, 37.5%, 45%);
        --header-button-color: #fff;
        --header-button-border-color: hsl(210, 18.5%, 43.5%);
        --content-background-color: #536b8d;
        --shadow-color: #222;
    }
	color-spectrum, hue-slider {
		--dot-border-color: #fff;
	}
    --update-button-highlight-color: orange;
    --trigger-action-hovered-color: rgb(65, 83, 124);/*rgb(65, 85, 130);*/
    --trigger-action-selected-color: rgb(50, 70, 100);/*rgb(45, 65, 95);*/
    --trigger-action-dragged-brightness: 0.8;
    --tab-view-separator-color: hsl(215, 53%, 63%);
    --tab-label-background-color: #819bbf;
    --tab-label-hover-background-color: #657d9f;
    --tab-label-select-background-color: #3e526d;
    --tab-label-text-color: #fff;
    --tab-label-info-color: #eee;
    --params-table-cell-border-color: hsl(215, 52%, 69%);
    --params-table-header-background-color: hsl(215, 29%, 34%);
    --params-table-odd-row-background-color: hsl(215, 25%, 53%);
    --params-table-even-row-background-color: hsl(215, 25%, 45%);
    --params-table-row-hover-background-color: hsl(215, 22%, 40%);
}

.dark-theme, .purple-theme, .green-theme {
    --settings-menu-label-background-color: #3b3b3b;
    --settings-menu-label-color: #ccc;
    --settings-menu-button-background-color: #555;
    --settings-menu-button-border-color: #555;
    --settings-menu-button-color: #aaa;
    --settings-menu-button-hover-background-color: #666;
    --settings-menu-button-hover-color: #ddd;
    --settings-menu-button-clicked-background-color: #888;
    --settings-menu-button-clicked-color: #eee;
    --comment-background-color: #292929;
    --comment-border-color: #353535;
    --comment-color: #7b7b7b;
    --comment-adder-button-color: #8d8d8d;
    --comment-remover-button-color: hsl(0, 90%, 35%);
    --param-side-button-background-color: #2d2d2d;
    --param-side-button-hover-background-color: #3b3b3b;
    --param-side-button-active-background-color: #494949;
    --gui-render-info-color: #aaa;
    --draggable-window-text-color: rgb(170, 170, 170);
	--select-indicator-color: hsl(120, 65%, 30%);
	--dropdown-background-color: rgb(184, 184, 184);
	--dropdown-opener-border-color: rgb(142, 142, 142);
	--dropdown-item-color: #000;
	--dropdown-arrow-color: rgb(38, 38, 38);
	--color-text-input-background-color: rgb(80, 80, 80);
	--color-text-input-color: rgb(200, 200, 200);
	--selectable-target-item-hover-color: rgb(75, 75, 75);
	--selected-target-item-color: #ffff4d;
	--target-quick-delete-button-color: #c00;
    draggable-window {
        --header-background-color: rgb(86, 86, 86);
        --header-color: rgb(200, 200, 200);
        --header-button-background-color: rgb(81, 81, 81);
        --header-button-hover-background-color: rgb(70, 70, 70);
        --header-button-active-background-color: rgb(60, 60, 60);
        --header-button-color: rgb(200, 200, 200);
        --header-button-border-color: rgb(57, 57, 57);
        --content-background-color: rgb(56, 56, 56);
        --shadow-color: rgb(9, 9, 9);
    }
	color-spectrum, hue-slider {
		--dot-border-color: #ccc;
	}
    --update-button-highlight-color: rgba(255, 165, 0, 0.5);
    --trigger-action-hovered-color: rgb(42, 42, 42);/*rgb(47, 47, 47);*/
    --trigger-action-selected-color: rgb(30, 30, 30);/*rgb(27, 27, 27);*/
    --trigger-action-dragged-brightness: 0.8;
    --tab-view-separator-color: rgb(97, 97, 97);
    --tab-label-background-color: rgb(97, 97, 97);
    --tab-label-hover-background-color: rgb(71, 71, 71);
    --tab-label-select-background-color: rgb(38, 38, 38);
    --tab-label-text-color: rgb(200, 200, 200);
    --tab-label-info-color: rgb(180, 180, 180);
    --params-table-cell-border-color: rgb(112, 112, 112);
    --params-table-header-background-color: rgb(38, 38, 38);
    --params-table-odd-row-background-color: rgb(75, 75, 75);
    --params-table-even-row-background-color: rgb(58, 58, 58);
    --params-table-row-hover-background-color: rgb(49, 49, 49);
}

.alei-dark-theme {
    --settings-menu-label-background-color: #1d1d1d;
    --settings-menu-label-color: #bbb;
    --settings-menu-button-background-color: #333;
    --settings-menu-button-border-color: #333;
    --settings-menu-button-color: #999;
    --settings-menu-button-hover-background-color: #444;
    --settings-menu-button-hover-color: #ccc;
    --settings-menu-button-clicked-background-color: #666;
    --settings-menu-button-clicked-color: #ddd;
    --comment-background-color: #161616;
    --comment-border-color: #202020;
    --comment-color: #808080;
    --comment-adder-button-color: #808080;
    --comment-remover-button-color: hsl(0, 90%, 35%);
    --param-side-button-background-color: #202020;
    --param-side-button-hover-background-color: #303030;
    --param-side-button-active-background-color: #404040;
    --gui-render-info-color: #FFFFFFD0;
    --draggable-window-text-color: #d2d2d2;
	--select-indicator-color: hsl(120, 75%, 30%);
	--dropdown-background-color: rgb(150, 150, 150);
	--dropdown-opener-border-color: rgb(95, 95, 95);
	--dropdown-item-color: #000;
	--dropdown-arrow-color: rgb(14, 14, 14);
	--color-text-input-background-color: rgb(60, 60, 60);
	--color-text-input-color: rgb(220, 220, 220);
	--selectable-target-item-hover-color: rgb(85, 85, 85);
	--selected-target-item-color: #f2f20d;
	--target-quick-delete-button-color: #b00;
    draggable-window {
        --header-background-color: rgb(49, 49, 49);
        --header-color: rgb(210, 210, 210);
        --header-button-background-color: hsl(220, 30%, 40%);
        --header-button-hover-background-color: hsl(220, 30%, 32.5%);
        --header-button-active-background-color: hsl(220, 30%, 27.5%);
        --header-button-color: rgb(210, 210, 210);
        --header-button-border-color: hsl(220, 16%, 17%);
        --content-background-color: rgb(33, 33, 33);
        --shadow-color: #000;
    }
	color-spectrum, hue-slider {
		--dot-border-color: rgb(220, 220, 220);
	}
    --update-button-highlight-color: #4566AB;
    --trigger-action-hovered-color: rgb(33, 15, 15);
    --trigger-action-selected-color: rgb(60, 15, 15);
    --trigger-action-dragged-brightness: 0.6;
    --tab-view-separator-color: rgb(97, 97, 97);
    --tab-label-background-color: rgb(77, 77, 77);
    --tab-label-hover-background-color: rgb(61, 61, 61);
    --tab-label-select-background-color: rgb(45, 45, 45);
    --tab-label-text-color: #fff;
    --tab-label-info-color: #eee;
    --params-table-cell-border-color: rgb(112, 112, 112);
    --params-table-header-background-color: rgb(41, 41, 41);
    --params-table-odd-row-background-color: rgb(75, 75, 75);
    --params-table-even-row-background-color: rgb(58, 58, 58);
    --params-table-row-hover-background-color: rgb(49, 49, 49);
}

.alei-sage-theme {
    --settings-menu-label-background-color: #1d1d1d;
    --settings-menu-label-color: #bbb;
    --settings-menu-button-background-color: #333;
    --settings-menu-button-border-color: #333;
    --settings-menu-button-color: #999;
    --settings-menu-button-hover-background-color: #444;
    --settings-menu-button-hover-color: #ccc;
    --settings-menu-button-clicked-background-color: #666;
    --settings-menu-button-clicked-color: #ddd;
    --comment-background-color: #161616;
    --comment-border-color: #202020;
    --comment-color: #808080;
    --comment-adder-button-color: #808080;
    --comment-remover-button-color: hsl(0, 90%, 35%);
    --param-side-button-background-color: #202020;
    --param-side-button-hover-background-color: #303030;
    --param-side-button-active-background-color: #404040;
    --gui-render-info-color: #FFFFFFD0;
    --draggable-window-text-color: #d2d2d2;
	--select-indicator-color: hsl(120, 75%, 30%);
	--dropdown-background-color: rgb(150, 150, 150);
	--dropdown-opener-border-color: rgb(95, 95, 95);
	--dropdown-item-color: #000;
	--dropdown-arrow-color: rgb(14, 14, 14);
	--color-text-input-background-color: rgb(60, 60, 60);
	--color-text-input-color: rgb(220, 220, 220);
	--selectable-target-item-hover-color: rgb(85, 85, 85);
	--selected-target-item-color: #f2f20d;
	--target-quick-delete-button-color: #b00;
    draggable-window {
        --header-background-color: rgb(49, 49, 49);
        --header-color: rgb(210, 210, 210);
        --header-button-background-color: hsl(107, 29%, 38%);
        --header-button-hover-background-color: hsl(107, 29%, 30.5%);
        --header-button-active-background-color: hsl(107, 29%, 25.5%);
        --header-button-color: rgb(210, 210, 210);
        --header-button-border-color: hsl(220, 16%, 17%);
        --content-background-color: rgb(33, 33, 33);
        --shadow-color: #000;
    }
	color-spectrum, hue-slider {
		--dot-border-color: rgb(220, 220, 220);
	}
    --update-button-highlight-color: #517e45;
    --trigger-action-hovered-color: #181f16;
    --trigger-action-selected-color: #273b21;
    --trigger-action-dragged-brightness: 0.6;
    --tab-view-separator-color: rgb(97, 97, 97);
    --tab-label-background-color: rgb(77, 77, 77);
    --tab-label-hover-background-color: rgb(61, 61, 61);
    --tab-label-select-background-color: rgb(45, 45, 45);
    --tab-label-text-color: #fff;
    --tab-label-info-color: #eee;
    --params-table-cell-border-color: rgb(112, 112, 112);
    --params-table-header-background-color: rgb(41, 41, 41);
    --params-table-odd-row-background-color: rgb(75, 75, 75);
    --params-table-even-row-background-color: rgb(58, 58, 58);
    --params-table-row-hover-background-color: rgb(49, 49, 49);
}

.alei-oeda-theme {
    --settings-menu-label-background-color: #1d1d1d;
    --settings-menu-label-color: #bbb;
    --settings-menu-button-background-color: #333;
    --settings-menu-button-border-color: #333;
    --settings-menu-button-color: #999;
    --settings-menu-button-hover-background-color: #444;
    --settings-menu-button-hover-color: #ccc;
    --settings-menu-button-clicked-background-color: #666;
    --settings-menu-button-clicked-color: #ddd;
    --comment-background-color: #161616;
    --comment-border-color: #202020;
    --comment-color: #808080;
    --comment-adder-button-color: #808080;
    --comment-remover-button-color: hsl(0, 90%, 35%);
    --param-side-button-background-color: #202020;
    --param-side-button-hover-background-color: #303030;
    --param-side-button-active-background-color: #404040;
    --gui-render-info-color: #FFFFFFD0;
    --draggable-window-text-color: #d2d2d2;
	--select-indicator-color: hsl(120, 75%, 30%);
	--dropdown-background-color: rgb(150, 150, 150);
	--dropdown-opener-border-color: rgb(95, 95, 95);
	--dropdown-item-color: #000;
	--dropdown-arrow-color: rgb(14, 14, 14);
	--color-text-input-background-color: rgb(60, 60, 60);
	--color-text-input-color: rgb(220, 220, 220);
	--selectable-target-item-hover-color: rgb(85, 85, 85);
	--selected-target-item-color: #f2f20d;
	--target-quick-delete-button-color: #b00;
    draggable-window {
        --header-background-color: rgb(49, 49, 49);
        --header-color: rgb(210, 210, 210);
        --header-button-background-color: hsl(295, 46%, 72%);
        --header-button-hover-background-color: hsl(297, 45%, 70%);
        --header-button-active-background-color: hsl(295, 39%, 64%);
        --header-button-color: rgb(255,255,255);
        --header-button-border-color: hsl(220, 16%, 17%);
        --content-background-color: rgb(33, 33, 33);
        --shadow-color: #000;
    }
	color-spectrum, hue-slider {
		--dot-border-color: rgb(220, 220, 220);
	}
    --update-button-highlight-color: #d295d8;
    --trigger-action-hovered-color: #d295d860;
    --trigger-action-selected-color: #d295d8a0;
    --trigger-action-dragged-brightness: 0.6;
    --tab-view-separator-color: rgb(97, 97, 97);
    --tab-label-background-color: rgb(77, 77, 77);
    --tab-label-hover-background-color: rgb(61, 61, 61);
    --tab-label-select-background-color: rgb(45, 45, 45);
    --tab-label-text-color: #fff;
    --tab-label-info-color: #eee;
    --params-table-cell-border-color: rgb(112, 112, 112);
    --params-table-header-background-color: rgb(41, 41, 41);
    --params-table-odd-row-background-color: rgb(75, 75, 75);
    --params-table-even-row-background-color: rgb(58, 58, 58);
    --params-table-row-hover-background-color: rgb(49, 49, 49);
}

.alei-crossfire-theme {
    --settings-menu-label-background-color: #0a0b0c;
    --settings-menu-label-color: #bbb;
    --settings-menu-button-background-color: #0a0b0c;
    --settings-menu-button-border-color: #333;
    --settings-menu-button-color: #999;
    --settings-menu-button-hover-background-color: #5ba35e40;
    --settings-menu-button-hover-color: #ccc;
    --settings-menu-button-clicked-background-color: #5ba35e;
    --settings-menu-button-clicked-color: #ddd;
    --comment-background-color: #0a0b0c;
    --comment-border-color: #0a0b0c;
    --comment-color: #808080;
    --comment-adder-button-color: #808080;
    --comment-remover-button-color: hsl(0, 90%, 35%);
    --param-side-button-background-color: #202020;
    --param-side-button-hover-background-color: #303030;
    --param-side-button-active-background-color: #404040;
    --gui-render-info-color: #FFFFFFD0;
    --draggable-window-text-color: #d2d2d2;
	--select-indicator-color: hsl(120, 75%, 30%);
	--dropdown-background-color: rgb(150, 150, 150);
	--dropdown-opener-border-color: rgb(95, 95, 95);
	--dropdown-item-color: #000;
	--dropdown-arrow-color: rgb(14, 14, 14);
	--color-text-input-background-color: rgb(60, 60, 60);
	--color-text-input-color: rgb(220, 220, 220);
	--selectable-target-item-hover-color: rgb(85, 85, 85);
	--selected-target-item-color: #f2f20d;
	--target-quick-delete-button-color: #b00;
    draggable-window {
        --header-background-color: #262a2e;
        --header-color: #FFFFFFD0;
        --header-button-background-color: #5ba35e;
        --header-button-hover-background-color: #48864a;
        --header-button-active-background-color: #48864a80;
        --header-button-color: rgb(255, 255, 255);
        --header-button-border-color: #93FD98;
        --content-background-color: #191c1f;
        --shadow-color: #000;
    }
	color-spectrum, hue-slider {
		--dot-border-color: rgb(220, 220, 220);
	}
    --update-button-highlight-color: #5ba35e;
    --trigger-action-hovered-color: #5ba35e40;
    --trigger-action-selected-color: #5ba35e80;
    --trigger-action-dragged-brightness: 0.6;
    --tab-view-separator-color: #40454b;
    --tab-label-background-color: #40454b;
    --tab-label-hover-background-color: #31353a;
    --tab-label-select-background-color: #0f1113;
    --tab-label-text-color: #fff;
    --tab-label-info-color: #eee;
    --params-table-cell-border-color: #262a2e;
    --params-table-header-background-color: #262a2e;
    --params-table-odd-row-background-color: #40454b;
    --params-table-even-row-background-color: #31353a;
    --params-table-row-hover-background-color: #262a2e;
}